.pagination > li a {
  cursor: pointer;
  text-transform: capitalize;
}

.customDropdown {
  width: 30%;
  margin-left: 5px;
  position: relative;
  float: left;
}
.customBtnAddNew {
  position: relative;
  float: right;
}
