.pagination > li a {
  cursor: pointer;
  text-transform: capitalize;
}

.customDropdown {
  width: 30%;
  margin-left: 5px;
  position: relative;
  float: left;
}
.customBtnAddNew {
  position: relative;
  float: right;
}

.preview-import-table thead, .preview-import-table tbody tr {
  table-layout: fixed;
  display: table;
  width: 100%;
}

.preview-import-table tbody {
  display: block;
  /*max-height: 100px;*/
  overflow-y: scroll;
}
