.pagination > li a {
  cursor: pointer;
  text-transform: capitalize;
}

.customDropdown {
  width: 30%;
  margin-left: 5px;
  position: relative;
  float: left;
}
.customBtnAddNew {
  position: relative;
  float: right;
}

.preview-import-table thead, .preview-import-table tbody tr {
  table-layout: fixed;
  display: table;
  width: 100%;
}

.preview-import-table tbody {
  display: block;
  /*max-height: 100px;*/
  overflow-y: scroll;
}

.form-group .react-datepicker-wrapper, .form-group .react-datepicker__input-container {
  display: block;
}

.form-group .react-datepicker__day-name, .form-group .react-datepicker__day {
  width: 2.2rem !important;
  font-size: 1.3em;
}
